In [1]:
import pandas as pd
import seaborn as sns
import fbprophet 
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

# total population by place
pop_by_place=pd.read_csv('../../data/NHGIS/nhgis0002_csv/nhgis0002_ts_nominal_place.csv',encoding='ISO-8859-1')

In [3]:
pop_by_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31436 entries, 0 to 31435
Data columns (total 25 columns):
NHGISCODE    31436 non-null object
GJOIN1970    20449 non-null object
GJOIN1980    22529 non-null object
GJOIN1990    23435 non-null object
GJOIN2000    25150 non-null object
GJOIN2010    29514 non-null object
GJOIN2012    29509 non-null object
STATE        31436 non-null object
STATEFP      31436 non-null int64
STATENH      31436 non-null int64
PLACE        31436 non-null object
PLACEA       31436 non-null int64
NAME1970     20449 non-null object
NAME1980     22529 non-null object
NAME1990     23435 non-null object
NAME2000     25150 non-null object
NAME2010     29514 non-null object
NAME2012     29509 non-null object
AV0AA1970    6435 non-null float64
AV0AA1980    22529 non-null float64
AV0AA1990    23435 non-null float64
AV0AA2000    25150 non-null float64
AV0AA2010    29514 non-null float64
AV0AA125     29509 non-null float64
AV0AA125M    29509 non-null float64
dtypes: float64(7), int64(3), object(15)
memory usage: 6.0+ MB

In [2]:
nyc=pop_by_place.iloc[[18672]]
nyc

,NHGISCODE,GJOIN1970,GJOIN1980,GJOIN1990,GJOIN2000,GJOIN2010,GJOIN2012,STATE,STATEFP,STATENH,...,NAME2000,NAME2010,NAME2012,AV0AA1970,AV0AA1980,AV0AA1990,AV0AA2000,AV0AA2010,AV0AA125,AV0AA125M
18672,G36051000,G3602505,G3602505,G36051000,G36051000,G36051000,G36051000,New York,36,360,...,New York city,New York city,"New York city, New York",7894862.0,7071639.0,7322564.0,8008278.0,8175133.0,8199221.0,0.0

In [9]:
pop_by_place_ = pop_by_place.copy()[['NHGISCODE','AV0AA1970','AV0AA1980','AV0AA2000','AV0AA2010']]
pop_by_place_#.sample(5)

       NHGISCODE  AV0AA1970  AV0AA1980  AV0AA2000  AV0AA2010
0      G01000100        NaN        NaN        NaN      192.0
1      G01000124     2996.0     3155.0     2987.0     2688.0
2      G01000460        NaN     2498.0     4965.0     4522.0
3      G01000484        NaN      746.0      723.0      758.0
4      G01000676        NaN      604.0      521.0      356.0
5      G01000820     2642.0     7079.0    22619.0    30352.0
6      G01000988     9963.0    12039.0    17247.0    21160.0
7      G01001132    12358.0    13807.0    15008.0    14875.0
8      G01001180        NaN        NaN     3692.0     3917.0
9      G01001228     2851.0     3207.0     2567.0     2486.0
10     G01001396        NaN      387.0      629.0      622.0
11     G01001660        NaN      928.0      984.0      933.0
12     G01001708    10092.0    10415.0     8794.0     9015.0
13     G01001756        NaN      405.0      354.0      282.0
14     G01001852    31533.0    29523.0    24276.0    23106.0
15      G0100062     6609.0        NaN        NaN        NaN
16     G01002116     4399.0     5967.0     7174.0     8050.0
17     G01002260        NaN     1096.0     1034.0     1194.0
18     G01002320        NaN        NaN     1780.0     4071.0
19     G01002428        NaN      844.0      772.0      764.0
20     G01002500        NaN      276.0      290.0      357.0
21     G01002836        NaN     2165.0     1853.0     2148.0
22     G01002860        NaN     2052.0     1965.0     2037.0
23     G01002908        NaN     1489.0     2260.0     2212.0
24     G01002956    14360.0    14558.0    18967.0    21897.0
25     G01003004     8293.0     8789.0     7676.0    10194.0
26     G01003028     7510.0     7737.0     6592.0     6048.0
27     G01003076    22767.0    28471.0    42987.0    53380.0
28     G01003220        NaN      843.0      820.0      870.0
29     G01003364        NaN      433.0      466.0      543.0
...          ...        ...        ...        ...        ...
31406  G72076339        NaN        NaN        NaN     6828.0
31407  G72076683        NaN        NaN        NaN     2900.0
31408  G72076770        NaN        NaN        NaN   381931.0
31409  G72077027        NaN        NaN        NaN     8037.0
31410  G72077500        NaN        NaN        NaN     9622.0
31411  G72077672        NaN        NaN        NaN     4622.0
31412  G72077826        NaN        NaN        NaN      982.0
31413  G72078145        NaN        NaN        NaN     5976.0
31414  G72079564        NaN        NaN        NaN     3156.0
31415  G72080596        NaN        NaN        NaN     1088.0
31416  G72080639        NaN        NaN        NaN     1931.0
31417  G72081456        NaN        NaN        NaN     1816.0
31418  G72081413        NaN        NaN        NaN      925.0
31419  G72082055        NaN        NaN        NaN      362.0
31420  G72082125        NaN        NaN        NaN     1616.0
31421  G72082187        NaN        NaN        NaN     3228.0
31422  G72082488        NaN        NaN        NaN     3713.0
31423  G72082617        NaN        NaN        NaN     1513.0
31424  G72083606        NaN        NaN        NaN    48437.0
31425  G72084509        NaN        NaN        NaN     8397.0
31426  G72085025        NaN        NaN        NaN      528.0
31427  G72085111        NaN        NaN        NaN     1890.0
31428  G72085197        NaN        NaN        NaN    10266.0
31429  G72085326        NaN        NaN        NaN    25905.0
31430  G72085971        NaN        NaN        NaN     3316.0
31431  G72086014        NaN        NaN        NaN     1938.0
31432  G72086831        NaN        NaN        NaN     3384.0
31433  G72087863        NaN        NaN        NaN     6047.0
31434  G72088035        NaN        NaN        NaN    17186.0
31435  G72088121        NaN        NaN        NaN     1050.0

[31436 rows x 5 columns]

- ***notes***:
    - forget places with only 1 measurement

In [ ]:
def population_by_place(years=20,n_places=1000,changepoint_prior=0.15):
    # total population by place (1970 to 2010)
    pop_by_place=pd.read_csv('../../data/NHGIS/nhgis0002_csv/nhgis0002_ts_nominal_place.csv',encoding='ISO-8859-1')
    """
    inputs) 
    >> years
        > number of years to forecast
    >> places
        > number of places to forecast +1 
            >> e.g. 99 = first 100 places (max==25102)
    >> changepoint_prior
        > set changepoint_prior_scale for prophet model
    
    - generate DataFrame of population:
        > from 1970 to 2010
        > by unique place (use NHGISCODE as Id)
    - drop 
        > counties with less than 2 measurements
            > can only predict counties which have been measured 2+ times 
    - extract list of places
        > each as a DataFrame ready for prediction 
        > column0='ds' , column1='y'
    - make and fit prophet model on each
    - return prophet model's predictions
        >> for {years} years
    """

    # df by NHGISCODE with measurements by decade (31436 rows × 5 columns)
    unique_places = pop_by_place.copy()[['NHGISCODE','AV0AA1970','AV0AA1980','AV0AA2000','AV0AA2010']]

    # drop NaN rows @ thresh = 3 due to NHGISCODE being non-NaN (25103 rows × 5 columns ; 6333 non-measurable) 
    measureable_unique_places = unique_places.dropna(axis=0,thresh=3)
    # convert NaN values to 0 (note: there are 270 'dead' counties ('A00AA2010' == 0))
    measureable_unique_places = measureable_unique_places.fillna(0)

    # generate list of remaining NHGISCODE codes 
    codes_of_measureable_unique_places = [code for code in measureable_unique_places.NHGISCODE]
    # drop NHGISCODE column (25103 rows × 4 columns)
    measureable_unique_places = measureable_unique_places.drop('NHGISCODE',axis=1)

    # list of str column names as years (for conversion to datetime)
    year_only_columns = [i[5:] for i in measureable_unique_places.columns]
    # convert year_only_columns to DatetimeIndex of Timestamps
    dt_columns = pd.to_datetime(arg=year_only_columns)

    # convert dt_columns into dataframe 
    datetime_df = pd.DataFrame(dt_columns).T
    # w/ columns, so concatable with measureable_unique_counties
    datetime_df.columns = measureable_unique_places.columns

    # generate list of remaining places (each as pd.Series)
    dfs_of_measureable_unique_places = [measureable_unique_places.iloc[place] for place in range(len(measureable_unique_places))]

    # add datetime_df to each dataframe as first row
    prophet_places = [pd.concat((datetime_df,pd.DataFrame(place).T),axis=0) for place in dfs_of_measureable_unique_places]
    # then transpose to 2 rows x 23 columns 
    prophet_almost_ready_places = [place.T for place in prophet_places]

    # set collection of prophets 
    prophet_by_place = []

    # run prophet model on first 1000 places
    for place in range(len(prophet_almost_ready_places[:n_places])):
        # make the prophet model
        place_prophet = fbprophet.Prophet(changepoint_prior_scale=changepoint_prior)
        # identify county 
        a = prophet_almost_ready_places[place]
        # rename place df's columns to agree with prophet formatting
        a.columns = ['ds','y']
        # fit place on prophet model 
        b = place_prophet.fit(a)
        # make a future dataframe for 20 years
        place_forecast = place_prophet.make_future_dataframe( periods=1*years, freq='Y' )
        # establish predictions
        place_forecast = county_prophet.predict(place_forecast)
        # add to collection 
        prophet_by_place.append(place_forecast)
        
    return prophet_by_place

In [ ]:
by_place = population_by_place()

In [14]:
31436-25103

6333