In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
# default cleaning method until proven otherwise

def clean_census_frame(csv_path , head=False , reset=True):
    '''
    inputs) 
        >> csv_path
            > path to csv
        >> head
            > default=False
                >> if != False
                    > integer
                        >> returns the first {head} rows (using .head() method) 
                            > instead of enitre dataframe
        >> reset
            > default=True
                >> resets index after taking out rows
            > if set to False
                >> will not reset index
    output)
        >> dataframe cleaned like 2000 Census age&sex by 5-digit Zip Code (also how 2010 for same is cleaned)
    how)
        1. reads in csv , assumes it's large
        2. makes a copy for editing 
            > and potential future use
        3. locates readable column names  and non-readable names 
            > readable
                    > e.g. Estimate; SEX AND AGE - Total population
                >> assumes they are currently in row 0
            > non-readable
                    > e.g. HC01_VC03
                >> assumes they are currently == dataframe.columns
        4. replaces dataframe.columns (non-readable) with readable column names
            > and drops the old 0th column (column where readable names were stored)
        
    '''
    # load data
    df = pd.read_csv( csv_path , low_memory=False )

    # and copy
    _df = df.copy()

    # reset column names to current 0th row values
    _df.columns = _df.iloc[0]
    # new 2000 dataframe without row where values are from
    clean_df = _df[1:]
    
    # default
    if reset==True:
        # reset index
        clean_df = clean_df.reset_index()
    
    if head:
        # return first {head} rows of dataframe
        return clean_df.head(head)
    else:
        # return dataframe
        return clean_df
    
    
def show_lengths(collection):
    '''
    shows lengths of collection of items
    '''
    # collect
    lengths = []
    # iterate
    for i in collection:
        # add len to collect
        lengths.append(len(i))
    # return all lens
    return lengths

In [ ]:
# test = pd.read_csv('../data/acs/aff_download/ACS_14_5YR_DP05_with_ann.csv',low_memory=False)
# ID=test.copy()
# for _ in range(len(ID.columns)):
#     for i in range(len(ID[ID.columns[_]])):
#         if isinstance(ID[ID.columns[_]][i],str):
#             pass
#         else:
#             print(f'column {_}\nrow {i}\ntype {type(ID[ID.columns[_]][i])}\n{ID[ID.columns[_]][i]}\n\n')

- ***notes***:
    - every instance is string (was no output)
    - merged & hashed as to avoid running again on accident or restart^

In [ ]:
# reload a year for base comps
t000 = pd.read_csv('../data/acs/aff_download/ACS_14_5YR_DP05_with_ann.csv',low_memory=False)
# limit size
# test = test.head(1000)

In [ ]:
t000.describe()

In [3]:
test = clean_census_frame('../data/acs/aff_download/ACS_14_5YR_DP05_with_ann.csv',reset=False)

In [4]:
test.describe()

,Id,Id2,Geography,Estimate; SEX AND AGE - Total population,Margin of Error; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Percent Margin of Error; SEX AND AGE - Total population,Estimate; SEX AND AGE - Total population - Male,Margin of Error; SEX AND AGE - Total population - Male,Percent; SEX AND AGE - Total population - Male,...,Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,"Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races",Estimate; HISPANIC OR LATINO AND RACE - Total housing units,Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units,Percent; HISPANIC OR LATINO AND RACE - Total housing units,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units
count,33120,33120,33120,33120,33120,33120,33120,33120,33120,33120,...,33120,33120,33120,33120,33120,33120,33120,33120,33120,33120
unique,33120,33120,33120,15446,2077,15446,1,11861,1439,698,...,51,567,1849,658,305,568,11145,692,1,1
top,8600000US71647,84049,ZCTA5 49680,0,12,0,(X),0,12,49.4,...,0.0,0.1,0,11,0.0,0.7,0,12,(X),(X)
freq,1,1,1,306,134,306,33120,356,180,517,...,27022,5259,8028,3154,7809,1995,486,243,33120,33120

In [36]:
len(ID[col_names[_]]) 
# ID[col_names[_]][33120] == ID[col_names[_]][33120]

33120

In [5]:
# how many columns have instances only containing '+-0123456789.'
# copy
ID=test.copy()

# start out log
out = []

# pull names
col_names = ID.columns

# id target 
indicates_num = '1234567890-=. '

# index (0-327)
idx = [len(ID[col_names[_]]) for _ in range(len(col_names))]

In [11]:
# index columns
for _ in range(len(col_names)):
    print(f'START {_}')
    # hits to perfect column 
    total_dinks = 0
    # column summary 
    column_sum = []

    # for length of column in dataframe
    for i in range(1,idx[_]):
        # assume column is good
        dinks_on_armor = 0
        # set instance
        inst = ID[col_names[_]][i]

        # weak armor
        if dinks_on_armor == 0:
            # if that instance is a string
            # expected True via prior research 
            if isinstance(inst,str):

                # start evaluation count on if it can be made a number
                better = 0
                # take each character in that string
                for c in inst:
                    # assume that character is an indicator (good) (expected more frequently than not)
                    good = 0

                    # check that character is indicator
                    if c not in indicates_num:
                        # if not, flip switch
                        good+=1
                        # and document
                        # print(f'ID.columns[_] = {col_names[_]}\nID[ID.columns[_]][i] = {ID[col_names[_]][i]}\nc = {c}\n')

                    # if we're still good
                    if good == 0:
                        # do better
                        better += 1
                # at least 1 character was not in target, indicates object may have issue converting to num type
                if better != len(c):
                    # add
                    dinks_on_armor += 1 
                    # note
                    column_sum.append([i,inst])

            # expected to occour 0 times
            else:
                # alert 
                print(f'column {_}\nrow {i}\ntype {type(ID[col_names[_]][i])}\n{ID[col_names[_]][i]}\n\n') 
                # document
                sus_instance_info.append(f'column {_}\nrow {i}\ntype {type(ID[col_names[_]][i])}\n{ID[col_names[_]][i]}\n\n')

        # update column summary 
        column_sum.append([i,ID[col_names[_]],dinks_on_armor])
        # add the dinks
        total_dinks += dinks_on_armor
    
    # add the column number, column name column summary, and total dinks on armor
    out.append([_,col_names[_],column_sum,total_dinks])
    print(f'{_}/{len(col_names)}')

START 0

KeyboardInterrupt:

In [ ]:
q=0
for i in [i for i in range(10)]:
    if not isinstance(i,int):
        print(i)
    else:
        q+=1
q, len([i for i in range(10)])

In [ ]:
# # reload a year for base comps
# test = pd.read_csv('../data/acs/aff_download/ACS_14_5YR_DP05_with_ann.csv',low_memory=False)
# # limit size
# # test = test.head(1000)

In [ ]:
for t in test.HC01_VC03:
    if isinstance(t,str):
        pass
    else:
        print(t)

In [ ]:
# confirm location of column names and current column names
test.iloc[0]

In [ ]:
# examine metadata (2014 is same as 2011-2013 as same len(.columns))
meta_fourteen_ =  pd.read_csv('../data/acs/aff_download/ACS_14_5YR_DP05_metadata.csv')
for _ in range(1,len(meta_fourteen_)):
    print(str(meta_fourteen_.Id[_-1:_])+'\n')

- ***notes***:
    - looks nothing like the online American Fact Finder version 
        - always fun
    - online 2014
        - highest columns are Geography
            - ZCTA5 00601
            - which is broken into subcolumns
                - Total, Male, Female
                - each of which are broken into subcolumns
                    - Estimate, Margin of Error
        - effectively
            - each Geography is represented by 6 columns
        - seems I have more information regarding race and ethnicity per zip
- ***actions***:
    - represent each area by Geography in each table
    - compare evolution of that Geography
        - Clustering (KNN)
        - Regression

In [ ]:
# 2011
y2k11 = clean_census_frame('../data/acs/aff_download/ACS_11_5YR_DP05_with_ann.csv')
# 2012
y2k12 = clean_census_frame('../data/acs/aff_download/ACS_12_5YR_DP05_with_ann.csv')
#2013
y2k13 = clean_census_frame('../data/acs/aff_download/ACS_13_5YR_DP05_with_ann.csv')
# 2014
y2k14 = clean_census_frame('../data/acs/aff_download/ACS_14_5YR_DP05_with_ann.csv')
# 2015
y2k15 = clean_census_frame('../data/acs/aff_download/ACS_15_5YR_DP05_with_ann.csv')
# 2016
y2k16 = clean_census_frame('../data/acs/aff_download/ACS_16_5YR_DP05_with_ann.csv')
# 2017
y2k17 = clean_census_frame('../data/acs/aff_download/ACS_17_5YR_DP05_with_ann.csv')

In [ ]:
# as it's always come with such joy, let's check length
full_yrs = [y2k11,y2k12,y2k13,y2k14,y2k15,y2k16,y2k17]
# we want these to all be the same
show_lengths(full_yrs)

In [ ]:
y2k14

In [ ]:
'''MAKE IT FASTER >> done to speed up modeling process'''

# 2011
sy2k11 = y2k11.head(1000)
# 2012
sy2k12 = y2k12.head(1000)
#2013
sy2k13 = y2k13.head(1000)
# 2014
sy2k14 = y2k14.head(1000)
# 2015
sy2k15 = y2k15.head(1000)
# 2016
sy2k16 = y2k16.head(1000)
# 2017
sy2k17 = y2k17.head(1000)

In [ ]:
sy2k14

In [ ]:
# gather column names
column_names = [_ for _ in sy2k11[:0]]
column_names

In [ ]:
for _ in [sy2k11,sy2k12,sy2k13,sy2k14,sy2k15,sy2k16,sy2k17]:
    print(_.info(),'\n\n')

In [ ]:
sy2k14

In [ ]:
# determine columns in 2015, 2016 and 2017 which are not seen in 2011-2014 
eleven_columns = [name for name in sy2k11.columns]
twelve_columns = [name for name in sy2k12.columns]
thirteen_columns = [name for name in sy2k12.columns]
fourteen_columns = [name for name in sy2k12.columns]
fifteen_columns = [name for name in sy2k15.columns]
sixteen_columns = [name for name in sy2k16.columns]
seventeen_columns = [name for name in sy2k17.columns]

In [ ]:
# compare lengths of columns
show_lengths([eleven_columns,twelve_columns,thirteen_columns,fourteen_columns,fifteen_columns,sixteen_columns,seventeen_columns])

In [ ]:
'''make sure those with 328 columns all have the same columns'''

# collect similar
w_328_cols = [eleven_columns,twelve_columns,thirteen_columns,fourteen_columns]

# count non coexist 
same_len_non_coexist = 0

# show lens
show_w_328 = show_lengths(w_328_cols)
# double check lengths
for i in range(len(show_w_328)):
    if show_w_328[i] != show_w_328[-i]:
        raise Exception(f'ERROR len != len\n{show_w_328[i]} != {show_w_328[-i]}')

# compare all to initial 
for name in eleven_columns: 
    if name not in twelve_columns:
        same_len_non_coexist+=1
        # raise Exception(f'FLAWED ASSUMPTION if name in y2k12.columns name = {name}')
    elif name not in thirteen_columns:
        same_len_non_coexist+=1
        #raise Exception(f'FLAWED ASSUMPTION if name in y2k13.columns name = {name}')
    elif name not in fourteen_columns:
        same_len_non_coexist+=1
        #raise Exception(f'FLAWED ASSUMPTION if name in y2k14.columns name = {name}')

# final hurdle, check for non coexisting (based on prior hoops this should be a given)
if same_len_non_coexist > 0:
    raise Exception(f'FLAWED ASSUMPTION same_len_non_coexist ({same_len_non_coexist}) > 0')

In [ ]:
'''make sure those with 340 columns all have the same columns'''

for _ in range(len(fifteen_columns)): 
    if fifteen_columns[_] != sixteen_columns[_]:
        raise Exception(f'FLAWED ASSUMPTION if name in y2k12.columns name = {name}')

In [ ]:
'''see if those 328 column names are seen in 2015, 2016, and 2017'''
# store non coexist 2011 vs 2015
non_coexist_2015 = []
# store non coexist 2011 vs 2016
non_coexist_2016 = []
# store non coexist 2011 vs 2017
non_coexist_2017 = []

# compare to initial 
for _ in range(len(eleven_columns)): 
    # 2017
    if eleven_columns[_] not in seventeen_columns:
        # update 2017 bag w/ index & instance
        non_coexist_2017.append((_,eleven_columns[_]))
    # 2016
    if eleven_columns[_] not in sixteen_columns:
        # update 2016 bag w/ index & instance
        non_coexist_2016.append((_,eleven_columns[_]))
    # 2015
    if eleven_columns[_] not in fifteen_columns:
        # update 2015 bag w/ index & instance
        non_coexist_2015.append((_,eleven_columns[_]))


'''reverse vs 2016 and then vs 2017 if 2015 == 2016'''
if fifteen_columns == sixteen_columns:
    
    # store non coexist 2016 vs 2011
    _from_2016_non_coexist_2011 = []
    # store non coexist 2017 vs 2011
    _from_2017_non_coexist_2011 = []
    
    # 2017
    for _ in range(len(seventeen_columns)):
        if seventeen_columns[_] not in eleven_columns:
            # update 2017 bag w/ index & instance
            _from_2017_non_coexist_2011.append((_,seventeen_columns[_]))
    # 2016
    for _ in range(len(sixteen_columns)):
        if sixteen_columns[_] not in eleven_columns:
            # update 2016 bag w/ index & instance
            _from_2016_non_coexist_2011.append((_,sixteen_columns[_]))
    
# let us know if 2015 != 2016
else:
    raise Exception('ERROR\nfifteen_columns != sixteen_columns\nERROR')

    
'''2016 vs 2017 and reverse'''
# store non coexist 2016 vs 2017
_from_2016_non_coexist_2017 = []
# store non coexist 2017 vs 2016
_from_2017_non_coexist_2016 = []

# from 2017 to 2016
for _ in range(len(seventeen_columns)):
    if seventeen_columns[_] not in eleven_columns:
        # update 2017 bag w/ index & instance
        _from_2017_non_coexist_2016.append((_,seventeen_columns[_]))
# from 2016 to 2017
for _ in range(len(sixteen_columns)):
    if sixteen_columns[_] not in seventeen_columns:
        # update 2016 bag w/ index & instance
        _from_2016_non_coexist_2017.append((_,sixteen_columns[_]))
    
'''2011 vs 2015/2016/2017'''
# count non coexist 2011 vs 2015
non_coexist_2015_count = len(non_coexist_2015)
# count non coexist 2011 vs 2016
non_coexist_2016_count = len(non_coexist_2016)
# count non coexist 2011 vs 2017
non_coexist_2017_count = len(non_coexist_2017)
# count non coexist 2011 vs each in ALL
non_coexist_count = non_coexist_2015_count + non_coexist_2016_count + non_coexist_2017_count
# identify unique non coexistances
u_non_coexist = set(non_coexist_2015 + non_coexist_2016 + non_coexist_2017)
# count the number of unique non coexist 2011 vs each in All
u_non_coexist_count = len(u_non_coexist)

'''2016/2017 vs 2011'''
# count non coexist 2016 vs 2011
_from_2016_non_coexist_2011_count = len(_from_2016_non_coexist_2011)
# count non coexist 2017 vs 2011
_from_2017_non_coexist_2011_count = len(_from_2017_non_coexist_2011)
# identify unique non coexistances (exist in 2016 or 2017 but not in 2011)
r_u_non_coexist = set(_from_2016_non_coexist_2011 + _from_2017_non_coexist_2011)
# count the number of unique non coexist 2011 vs each in All
r_u_non_coexist_count = len(r_u_non_coexist)

'''2016 & 2017'''
# count non coexist 2016 vs 2017
_from_2016_non_coexist_2017_count = len(_from_2016_non_coexist_2017)
# count non coexist 2017 vs 2016
_from_2017_non_coexist_2016_count = len(_from_2017_non_coexist_2016)

# 2011 vs
print(f'forward\n2011 vs 2015\nnon_coexist_2015_count = {non_coexist_2015_count} /{len(fifteen_columns)}\n'
        f'2011 vs 2016\nnon_coexist_2016_count = {non_coexist_2016_count} /{len(sixteen_columns)}\n'
        f'2011 vs 2017\nnon_coexist_2017_count = {non_coexist_2017_count} /{len(seventeen_columns)}\n'
        f'2011 vs all\ninstances not existing in all  = {u_non_coexist_count} / {len(eleven_columns)} possible\n')
# vs 2011
print(f'backward\n2016 vs 2011\n_from_2016_non_coexist_2011_count = {_from_2016_non_coexist_2011_count} /{len(sixteen_columns)}\n'
        f'2017 vs 2011\n_from_2017_non_coexist_2011_count = {_from_2017_non_coexist_2011_count} /{len(sixteen_columns)}\n'
        f'ALL vs 2011\nunique non coexist 2011 vs each in All = {r_u_non_coexist_count}\n')
# 2016/2017 & 2017/2016
print(f'2016 & 2016\n2016 vs 2017\n_from_2016_non_coexist_2017_count = {_from_2016_non_coexist_2017_count} /{len(sixteen_columns)}\n'
        f'2017 vs 2016\n_from_2017_non_coexist_2016_count = {_from_2017_non_coexist_2016_count} /{len(seventeen_columns)}\n')

In [ ]:
# show some
u_non_coexist

- ***notes***:
    - 108 columns (distinctions) of 328
- ***possible***:
    - take out non-coexisting columns from all dataframes
        - then compare
            - would result in loss of ~1/3+ of columns
    - try to adjust
        - find what would be
            - seems possible for columns like the following
                - 10, 'Percent; SEX AND AGE - Male'
                - 96, 'Estimate; SEX AND AGE - Female'
                - 248, 'Estimate; RACE - Asian'
            - but more difficult for columns like
                - 11, 'Percent Margin of Error; SEX AND AGE - Male'
                - 97, 'Margin of Error; SEX AND AGE - Female'
                - 323, 'Percent Margin of Error; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races')
                    - though ?could exclue this when calculating change?
        
- ***actions***:
    - time is becoming a more relevant an issue, MVP due today

In [ ]:
# make dataframe for each zip code, should contain row from each year
def frame_per_zip(dataframes):
    '''
    take dataframe for each year set is available
    find common zipcode for each year
    make dataframe for that zipcode
        containing each year's measurements
    note:
        dataframes must be same length
    '''
    # check length of dataframes is same
    for _ in range(len(dataframes)):
        # done to ensure each zip code has same represnetation 
        if len(dataframes[_-1]) != len(dataframes[_]):
            # stop if we have different lengths
            raise Exception(f'len(dataframe[{-_}]) != len(dataframe[{_}])')
        # also check that dataframes have same Id
        random_samples = [random.randint(1,int(len(dataframes[-_])/2)),
                          random.randint(1,int(len(dataframes[-_]))),
                          random.randint(int(len(dataframes[-_])/2),len(dataframes[-_]))]
        for sample in random_samples:
            # pull Id from df to compare
            if dataframes[_]['Id'][sample] != dataframes[_-2]['Id'][sample]:
                # stop if they don't match
                raise Exception(f"NON MATCHING Id\n{dataframes[_].Id[sample]}\nERROR\n{dataframes[_-2].Id[sample]}\n")
    
    # now we can get to work
    mini_dfs = []
    for i in range(len(dataframes[0])):
        mini_df = pd.DataFrame(index=['2011','2012','2013','2014','2015','2016','2017'], columns=dataframes[0].columns)
        for _ in range(len(dataframes)):
            q = dataframes[_]
            print(q)
#             mini_df[_] = q.index(i)
        mini_dfs.append(mini_df)
    
    print(len(mini_df))
        
    return mini_dfs

In [ ]:
yrs = [sy2k11,sy2k12,sy2k13,sy2k14,sy2k15,sy2k16,sy2k17]
# z = frame_per_zip(yrs)

In [ ]:
for year in yrs:
    print (year.columns)

In [ ]:
mini_df = pd.DataFrame(index=['2011','2012','2013','2014','2015','2016','2017'], columns=['a','b','c','d','e'])
mini_df[1:2]

In [ ]:
# dataframes = [y2k11,y2k12,y2k13,y2k14,y2k15,y2k16,y2k17]
# mini_df = pd.DataFrame(index=['2011','2012','2013','2014','2015','2016','2017'], columns=dataframes[0].columns)
# mini_df.iloc[0] = 'lol'
# mini_df.iloc[0]
# mini_df

In [ ]:
'''# load 2000 data
y2k = pd.read_csv( a , low_memory=False )
# load 2010 data
y2k10 = pd.read_csv( b , low_memory=False )

# 2000 Census
b = y2k.copy()
# 2010 Census
o = y2k10.copy()

# reset 2000 columns to current 0th row values
b.columns = b.iloc[0]
# new 2000 dataframe without row where values are from
b = b[1:]
# reset index
b = b.reset_index()

# reset 2010 columns to current 0th row values
o.columns = o.iloc[0]
# new 2010 dataframe without row where values are from
o = o[1:]
# reset index
o = o.reset_index()

# identify zip codes from 2000 .Geography (last 5 chars of string)
zip_2000_codes = [q[-5:] for q in b.Geography]  # ValueError: invalid literal for int() with base 10: '006HH'
# identify zip codes from 2010 .Geography (last 5 chars of string)
zip_2010_codes = [q[-5:] for q in o.Geography]

# from 2000.Geography , instance is not seen in 2010.Geography  -- sample: zip_code = (2, 'c')
in_2000_but_not_2010_from_2000 = [zip_code for zip_code in enumerate(zip_2000_codes) if zip_code[1] not in zip_2010_codes]
# from 2010.Geography , instance is not seen in 2000.Geography  -- sample: zip_code[1] = 'c'
in_2010_but_not_2000_from_2010 = [zip_code for zip_code in enumerate(zip_2010_codes) if zip_code[1] not in zip_2000_codes]

# from 2000.Geography , instance is seen in 2010.Geography
in_2000_and_2010_from_2000 = [zip_code for zip_code in enumerate(zip_2000_codes) if zip_code[1] in zip_2010_codes]
# from 2010.Geography , instance is seen in 2000.Geography
in_2010_and_2000_from_2010 = [zip_code for zip_code in enumerate(zip_2010_codes) if zip_code[1] in zip_2000_codes]

# index of objects coexisting in 2000 and 2010
of_2000_indexes = [i for i,j in in_2000_and_2010_from_2000]
# index of objects coexisting in 2010 and 2000 
of_2010_indexes = [i for i,j in in_2010_and_2000_from_2010]
# ^note: these are different lists, if took j instead of i, then would be same list
if [j for i,j in in_2000_and_2010_from_2000] != [j for i,j in in_2010_and_2000_from_2010]:
    # like is seen here, j for j == True
    raise Exception(f'FLAWED ASSUMPTION , [j for i,j in 2000] != [j for i,j in 2010]\n'
                    f'len {len(in_2000_and_2010_from_2000)} {len(in_2010_and_2000_from_2010)}')
# however i for i == False
if of_2000_indexes == of_2010_indexes:
    # cheers
    raise Exception('FLAWED ASSUMPTION , of_2000_indexes != of_2010_indexes\n'
                    f'len y2k {len(of_2000_indexes)} 2k10 {len(of_2010_indexes)}')  

# thin 2000 to shared geo
b = b.iloc[of_2000_indexes]
# thin 2010 to shared geo
o = o.iloc[of_2010_indexes]'''
pass

In [ ]:
"""play df"""
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42], 'Weight':[128,134,129,142]}
df = pd.DataFrame(data)
df

In [ ]:
"""play list"""
a = [1,2,3,3,5,69,1,2,7,9,2]
b = [1,2,3]
c = [10,20,50,69]
d = set(a+b+c)
# d = set(d)
d

In [ ]:
from pandas.plotting import scatter_matrix
scatter_matrix(y2k11.set_index('Geography'),  figsize=(10, 10), diagonal='kde')

In [ ]:
sy2k11

In [8]:
q = [1,2,3,'4',5,6,7,2,6,1,9,1,4,1]
z = 0
while z ==0:
    for x in q:
        if isinstance(x,str):
            z+=1
        print(f'z={z}\nx={x}')

z=0
x=1
z=0
x=2
z=0
x=3
z=1
x=4
z=1
x=5
z=1
x=6
z=1
x=7
z=1
x=2
z=1
x=6
z=1
x=1
z=1
x=9
z=1
x=1
z=1
x=4
z=1
x=1