In [8]:
import csv
import xlrd
import pandas as pd

# https://www.census.gov/data/tables/time-series/demo/geographic-mobility/historic.html
annual_geographical_mobility_rates_type_movement = pd.read_excel( '../data/cps-historical-migration-geographic-mobility/tab-a-1.xls' )
annual_inmigration_outmigration_net_migration__movers_from_abroad_for_regions = pd.read_excel( '../data/cps-historical-migration-geographic-mobility/tab-a-2.xls' )
inmigration_outmigration__net_migration_metropolitan_status = pd.read_excel( '../data/cps-historical-migration-geographic-mobility/tab-a-3.xls' )
geographical_mobility_by_tenure = pd.read_excel( '../data/cps-historical-migration-geographic-mobility/tab-a-4.xls' )
reason_for_move_specific_categories = pd.read_excel( '../data/cps-historical-migration-geographic-mobility/tab-a-5.xls' )
distance_of_intercounty_move = pd.read_excel( '../data/cps-historical-migration-geographic-mobility/tab-a-6.xls' )

In [4]:
annual_geographical_mobility_rates_type_movement

,Table with row headers in column A and column headers in rows 5 through 7.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"Table A-1. Annual Geographical Mobility Rates,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Numbers in thousands.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mobility period,"Total, 1 year old and over",Same residence (non-movers),Total movers,Different residence in the United States,NaN,NaN,NaN,NaN,Movers from abroad
4,NaN,NaN,NaN,NaN,Total,Same county,Different county,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Total,Same state,Different state,NaN
6,NUMBER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-2018,319319,286967,32352,31186,19852,11334,6496,4838,1165
9,2016-2017,316550,281647,34902,33647,21614,12033,6668,5366,1255
10,2015-2016,314992,279854,35138,33857,21588,12269,7501,4768,1281
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014-2015,312295,275971,36324,34651,22905,11746,6653,5093,1673
13,"2013-2014 (98,000 address file)/1",309601,273920,35681,34548,23436,11112,6446,4666,1133
14,2012-2013,307243,271325,35918,34882,23150,11731,6961,4770,1036
15,2011-2012,304924,268436,36488,35334,23493,11842,6782,5059,1154
16,2010-2011 (2010 controls)/2,302640,267602,35038,33953,23330,10623,5868,4756,1084
17,2010-2011 (2000 controls)/3,302005,266930,35075,34016,23325,10691,5912,4779,1058
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2009-2010 (2010 controls)/2,300419,262975,37445,36459,25910,10549,6227,4323,985
20,2009-2010 (2000 controls)/3,300074,262534,37540,36594,26017,10577,6252,4326,946
21,2008-2009,297182,260077,37105,36017,24984,11034,6374,4660,1087
22,2007-2008,294851,259685,35167,34022,23013,11009,6282,4728,1145
23,2006-2007,292749,254068,38681,37490,25192,12298,7436,4862,1191
24,2005-2006,289781,249945,39837,38541,24851,13690,8010,5679,1296
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2004-2005/4,287148,247261,39888,38023,22736,15287,7847,7441,1865
27,2003-2004,284367,245372,38995,37723,22551,15172,7842,7330,1272
28,2002-2003,282556,242463,40093,38824,23468,15356,7728,7628,1269
29,2001-2002,278160,237049,41111,39548,23712,15836,8066,7770,1563
...,...,...,...,...,...,...,...,...,...,...
156,1960-1961,100,79.4,20.6,20,13.7,6.3,3.1,3.2,0.6
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,1959-1960,100,80.1,19.9,19.4,12.9,6.4,3.3,3.2,0.5
159,1958-1959,100,80.3,19.7,19.2,13.1,6.1,3.2,3,0.5
160,1957-1958,100,79.7,20.3,19.8,13.1,6.7,3.4,3.3,0.5
161,1956-1957,100,80.1,19.9,19.4,13.1,6.2,3.2,3.1,0.5
162,1955-1956,100,78.9,21.1,20.5,13.7,6.8,3.6,3.1,0.6
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,1954-1955,100,79.6,20.4,19.9,13.3,6.6,3.5,3.1,0.6
165,1953-1954,100,80.7,19.3,18.6,12.2,6.4,3.2,3.2,0.6
166,1952-1953,100,79.4,20.6,20.1,13.5,6.6,3,3.6,0.5
167,1951-1952,100,79.7,20.3,19.8,13.2,6.6,3.2,3.4,0.4
168,1950-1951,100,78.8,21.2,21,13.9,7.1,3.6,3.5,0.2
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,1949-1950,100,80.9,19.1,18.7,13.1,5.6,3,2.6,0.3
171,1948-1949,100,80.8,19.2,18.8,13,5.8,2.8,3,0.3
172,1947-1948,100,79.8,20.2,19.9,13.6,6.4,3.3,3.1,0.3
173,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,1/ The 2014 CPS ASEC included redesigned quest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,2/ Population controls consistent with 2010 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,3/ Population controls consistent with 2000 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,4/ Caution should be used when comparing numbe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,5/ SCHIP sample: poulation controls consistent...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,6/ Population controls consistent with 1990 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,7/ Population controls consistent with 1980 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,8/ The 1-year geographic mobility question was...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,For more information on the transition from Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Adjustments to Household Survey Population Est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Population Estimates in January 2012 webpage\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,"Source: U.S. Census Bureau, Current Populatio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

annual_geographical_mobility_rates_type_movement

notes:
    seems to cover back to 1947
    needs to be cleaned , pd does not naturally detect formatting 
        top and bottom

In [5]:
annual_inmigration_outmigration_net_migration__movers_from_abroad_for_regions

,Table with row headers in column A and column headers in row 5.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"Table A-2. Annual Inmigration, Outmigration, ...",NaN,NaN,NaN,NaN
1,(Numbers in thousands.),NaN,NaN,NaN,NaN
2,(leading dot indicates sub-part),NaN,NaN,NaN,NaN
3,Mobility period and type of migration,Northeast,Midwest,South,West
4,NaN,NaN,NaN,NaN,NaN
5,2017-2018,NaN,NaN,NaN,NaN
6,.Inmigrants,243,518,1227,566
7,.Outmigrants,595,555,714,689
8,.Net internal migration,-352*,-38,512*,-122
9,.Movers from abroad,229,156,446,335
10,.Net migration (including abroad),-124,118,959*,212*
11,NaN,NaN,NaN,NaN,NaN
12,2016-2017,NaN,NaN,NaN,NaN
13,.Inmigrants,405,544,1050,696
14,.Outmigrants,606,569,1006,515
15,.Net internal migration,-200*,-25,44,181*
16,.Movers from abroad,223,150,504,379
17,.Net migration (including abroad),23,125,548*,560*
18,NaN,NaN,NaN,NaN,NaN
19,2015-2016,NaN,NaN,NaN,NaN
20,.Inmigrants,337,442,940,719
21,.Outmigrants,553,513,901,472
22,.Net internal migration,-216*,-71,39,247*
23,.Movers from abroad,266,163,497,355
24,.Net migration (including abroad),50,92,536*,602*
25,NaN,NaN,NaN,NaN,NaN
26,2014-2015,NaN,NaN,NaN,NaN
27,.Inmigrants,403,463,1010,562
28,.Outmigrants,504,575,740,620
29,.Net internal migration,-101*,-112*,271*,-57
...,...,...,...,...,...
272,NaN,NaN,NaN,NaN,NaN
273,1982-1983,NaN,NaN,NaN,NaN
274,.Inmigrants,439,661,1211,880
275,.Outmigrants,625,947,973,645
276,.Net internal migration,-186*,-286*,238*,235*
277,.Movers from abroad,192,149,323,315
278,.Net migration (including abroad),6,-137,561*,550*
279,NaN,NaN,NaN,NaN,NaN
280,1981-1982,NaN,NaN,NaN,NaN
281,.Inmigrants,473,793,1482,931
282,.Outmigrants,685,1163,1012,819
283,.Net internal migration,-212*,-370*,470*,112
284,.Movers from abroad,229,134,401,324
285,.Net migration (including abroad),17,-236*,871*,436*
286,NaN,NaN,NaN,NaN,NaN
287,1980-1981,NaN,NaN,NaN,NaN
288,.Inmigrants,464,650,1377,871
289,.Outmigrants,706,1056,890,710
290,.Net internal migration,-242*,-406*,487*,161
291,.Movers from abroad,207,180,412,514
292,.Net migration (including abroad),-35,-226*,899*,675*
293,Footnotes:,NaN,NaN,NaN,NaN
294,* Net flow significantly different from zero a...,NaN,NaN,NaN,NaN
295,1/ The 2014 CPS ASEC included redesigned quest...,NaN,NaN,NaN,NaN
296,2/ Population controls consistent with 2010 Ce...,NaN,NaN,NaN,NaN
297,3/ Population controls consistent with 2000 Ce...,NaN,NaN,NaN,NaN
298,4/ SCHIP sample: poulation controls consistent...,NaN,NaN,NaN,NaN
299,5/ Population controls consistent with 1990 Ce...,NaN,NaN,NaN,NaN
300,6/ Regional 1-year migration data are not avai...,NaN,NaN,NaN,NaN
301,"Source: U.S. Census Bureau, Current Populatio...",NaN,NaN,NaN,NaN

annual_inmigration_outmigration_net_migration__movers_from_abroad_for_regions

notes:
    seems to cover back to 1980
    needs to be cleaned , pd does not naturally detect formatting 
        top and bottom

In [6]:
inmigration_outmigration__net_migration_metropolitan_status

,Table with row headers in column A and column headers in row 5.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"Table A-3. Inmigration, Outmigration, and Net...",NaN,NaN,NaN,NaN,NaN
1,(Numbers in thousands.),NaN,NaN,NaN,NaN,NaN
2,(Leading dots indicate sub-parts),NaN,NaN,NaN,NaN,NaN
3,Mobility period and Metropolitan status,Inmigrants,Outmigrants,Net domestic migration,Movers from abroad,Net migration including movers from abroad
4,(leading dots indicate sub-parts),NaN,NaN,NaN,NaN,NaN
5,2017-2018,NaN,NaN,NaN,NaN,NaN
6,.Metropolitan areas,1073,991,82,1121,"1,203*"
7,..Principal cities,3180,5456,-2277*,569,"-1,707*"
8,..Balances of metropolitan areas/8,5570,3211,2358*,553,"2,911*"
9,.Nonmetropolitan areas,991,1073,-82,44,-38
10,NaN,NaN,NaN,NaN,NaN,NaN
11,2016-2017,NaN,NaN,NaN,NaN,NaN
12,.Metropolitan areas,1008,1004,4,1204,"1,208*"
13,..Principal cities,3196,5515,"-2,319*",626,"-1,693*"
14,..Suburbs,5646,3323,"2,323*",578,"2,901*"
15,.Nonmetropolitan areas,1004,1008,-4,51,47
16,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-2016,NaN,NaN,NaN,NaN,NaN
18,.Metropolitan areas,1221,1025,196*,1201,"1,397*"
19,..Principal cities,3372,5381,"-2,009*",631,"-1,378*"
20,..Suburbs,5617,3411,"2,206*",570,"2,776*"
21,.Nonmetropolitan areas,1025,1221,-197*,80,-117
22,NaN,NaN,NaN,NaN,NaN,NaN
23,2014-2015/1,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,"2013-2014 (98,000 address file)/2",NaN,NaN,NaN,NaN,NaN
26,.Metropolitan areas,1486,1035,451*,1095,"1,546*"
27,..Principal cities,3455,5198,"-1,744*",515,"-1,229*"
28,..Suburbs,5487,3292,"2,195*",580,"2,775*"
29,.Nonmetropolitan areas,1035,1486,-451*,38,-413*
...,...,...,...,...,...,...
182,.Metropolitan areas,1820,1651,169,1021,"1,190*"
183,..Central cities,3461,6084,"-2,623*",576,"-2,047*"
184,..Suburbs,6421,3629,"2,792*",445,"3,237*"
185,.Nonmetropolitan areas,1651,1820,-169,179,10
186,NaN,NaN,NaN,NaN,NaN,NaN
187,1986-1987,NaN,NaN,NaN,NaN,NaN
188,.Metropolitan areas,2148,1660,488*,1033,"1,521*"
189,..Central cities,4342,6022,"-1,680*",609,"-1,071*"
190,..Suburbs,6378,4211,"2,167*",424,"2,591*"
191,.Nonmetropolitan areas,1660,2148,-488*,110,-378*
192,NaN,NaN,NaN,NaN,NaN,NaN
193,1985-1986,NaN,NaN,NaN,NaN,NaN
194,.Metropolitan areas,2034,1731,303*,1082,"1,385*"
195,..Central cities,4222,5802,"-1,580*",580,"-1,000*"
196,..Suburbs,6168,4285,"1,883*",502,"2,385*"
197,.Nonmetropolitan areas,1731,2034,-303*,118,-185
198,Footnotes:,NaN,NaN,NaN,NaN,NaN
199,* Net flow significantly different from zero a...,NaN,NaN,NaN,NaN,NaN
200,1/ Metropolitan mobility data are not availabl...,NaN,NaN,NaN,NaN,NaN
201,2/ The 2014 CPS ASEC included redesigned quest...,NaN,NaN,NaN,NaN,NaN
202,3/ Population controls consistent with 2010 Ce...,NaN,NaN,NaN,NaN,NaN
203,4/ Population controls consistent with 2000 Ce...,NaN,NaN,NaN,NaN,NaN
204,5/ Metropolitan mobility data are not availabl...,NaN,NaN,NaN,NaN,NaN
205,6/ SCHIP sample: population controls consisten...,NaN,NaN,NaN,NaN,NaN
206,7/ 1-year metropolitan migration data are not ...,NaN,NaN,NaN,NaN,NaN
207,"8/ Beginning in 2018, the description of locat...",NaN,NaN,NaN,NaN,NaN
208,Footnotes continued:,NaN,NaN,NaN,NaN,NaN
209,Note: 1996-97 data are for MAs as defined in 1...,NaN,NaN,NaN,NaN,NaN
210,Note: Data for 1985-1986 and 1986-1987 are cor...,NaN,NaN,NaN,NaN,NaN
211,"Source: U.S. Census Bureau, Current Populatio...",NaN,NaN,NaN,NaN,NaN

inmigration_outmigration__net_migration_metropolitan_status

notes:
    seems to cover back to 1985
    needs to be cleaned , pd does not naturally detect formatting 
        top and bottom

In [9]:
geographical_mobility_by_tenure

,"Table with row headers in column A and column headers in rows 5 through 7. Numbers start in row 10, percentages start in row 184, and frequency distributions start in row 358.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Table A-4. Geographical Mobility by Tenure: 1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Numbers in thousands.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(leading dot indicates sub-part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mobility period and Tenure,Total persons,Same house (non-movers),Total movers,Different house in the United States,NaN,NaN,NaN,NaN,Movers from abroad
4,NaN,NaN,NaN,NaN,Total,Same county,Different county,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Total,Same State,Different State,NaN
6,NUMBERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,".Total, 1 year and over",319319,286967,32352,31186,19852,11334,6496,4838,1165
10,..In owner-occupied units,212827,201902,10925,10645,6650,3994,2415,1579,280
11,..In renter-occupied units,106493,85066,21427,20542,13202,7340,4081,3259,885
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,".Total, 1 year and over",316550,281647,34902,33647,21614,12033,6668,5366,1255
15,..In owner-occupied units,208569,197067,11502,11208,6910,4298,2477,1821,294
16,..In renter-occupied units,107980,84580,23400,22440,14704,7736,4191,3545,961
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015-2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,".Total, 1 year and over",314992,279854,35138,33857,21588,12269,7501,4768,1281
20,..In owner-occupied units,206767,196431,10336,10135,6278,3857,2608,1249,201
21,..In renter-occupied units,108224,83423,24801,23721,15310,8411,4893,3519,1080
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2014-2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,".Total, 1 year and over",312295,275971,36324,34651,22905,11746,6653,5093,1673
25,..In owner-occupied units,204646,194195,10452,10157,6478,3679,2086,1594,294
26,..In renter-occupied units,107649,81777,25872,24493,16426,8067,4567,3499,1379
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"2013-2014 (98,000 address file)/1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,".Total, 1 year and over",309601,273920,35681,34548,23436,11112,6446,4666,1133
...,...,...,...,...,...,...,...,...,...,...
505,..In owner-occupied units,66.9,73.7,34.6,34.7,32.1,39.3,39,39.5,29.6
506,..In renter-occupied units,33.1,26.3,65.4,65.3,67.9,60.7,61,60.5,70.4
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,1990-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,".Total, 1 year and over",100,100,100,100,100,100,100,100,100
510,..In owner-occupied units,67,73.6,34.8,35.3,32.6,39.8,40,39.4,20.1
511,..In renter-occupied units,33,26.4,65.2,64.7,67.4,60.2,60,60.6,79.8
512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,1989-1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,".Total, 1 year and over",100,100,100,100,100,100,100,100,100
515,..In owner-occupied units,67.2,74.4,34.7,35.2,32.9,38.8,40.6,36.9,22.2
516,..In renter-occupied units,32.8,25.6,65.3,64.9,67.1,61.2,59.4,63.1,77.8
517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,1988-1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,".Total, 1 year and over",100,100,100,100,100,100,100,100,100
520,..In owner-occupied units,67.6,74.6,35.5,35.8,33,40.7,43.5,37.5,26.4
521,..In renter-occupied units,32.4,25.4,64.5,64.2,67,59.3,56.5,62.5,73.5
522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,1987-1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,".Total, 1 year and over",100,100,100,100,100,100,100,100,100
525,..In owner-occupied units,67.8,74.6,36.1,36.4,34.9,38.9,42.4,35,27.9
526,..In renter-occupied units,32.2,25.4,63.9,63.6,65.1,61.1,57.6,64.9,72
527,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,1/ The 2014 CPS ASEC included redesigned quest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,2/ Population controls consistent with 2010 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,3/ Population controls consistent with 2000 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,4/ SCHIP sample: poulation controls consistent...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,5/ Population controls consistent with 1990 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,6/ 1-year migration data by tenure are not ava...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,"Source: U.S. Census Bureau, Current Populatio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

geographical_mobility_by_tenure

notes:
    seems to cover back to 1987
    needs to be cleaned , pd does not naturally detect formatting 
        top and bottom

In [10]:
reason_for_move_specific_categories

,"Table with row headers in columns A and K, and column headers in rows 5 and 6. Numbers start in row 9, percentages start in row 36.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Table A-5. Reason for Move (Specific Categorie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Numbers in thousands.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(leading dots indicate sub-parts),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mobility Period,Total Movers 1 year and over,Family-related reasons,NaN,NaN,Employment-related reasons,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Other reasons,NaN,NaN,NaN,NaN
4,NaN,NaN,.Change in marital status,.To establish own household,.Other family reason,.New job or job transfer,.To look for work or lost job,.To be closer to work/easier commute,.Retired,.Other job-related reason,...,.Wanted new or better home/ apartment,.Wanted better neighborhood /less crime,.Wanted cheaper housing,.Foreclosure/eviction*,.Other housing reason,.To attend or leave college,.Change of climate,.Health reasons,.Natural disaster**,.Other reasons
5,NUMBER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-2018/1,32352,1435,4073,3583,3341,492,1821,348,366,...,5300,844,2551,215,2156,903,215,579,174,1605
8,2016-2017/1,34902,1786,4023,3928,3462,453,1924,290,317,...,5576,969,2895,373,2647,1030,184,672,91,1726
9,2015-2016/1,35138,1679,4283,3683,3807,531,2094,228,426,...,6126,1096,2871,305,2351,1137,269,628,17,1532
10,2014-2015,36324,2122,3989,5178,3848,583,1789,417,835,...,5567,1056,2709,272,5233,108,66,106,-,534
11,"2013-2014 (98,000 address file)/2",35681,1742,3966,4797,3471,745,2211,249,694,...,5629,1054,3356,477,4578,177,31,129,10,359
12,2012-2013,35918,1817,3753,5301,3242,750,1941,237,809,...,5332,1135,2989,654,5016,215,20,136,11,462
13,2011-2012,36488,2300,3906,4487,3470,659,1997,182,750,...,5810,1229,3260,792,5239,198,16,101,55,328
14,2010-2011 (2010 controls)/3,35038,1939,3325,4494,2801,909,2068,110,534,...,5690,1379,3696,412,3062,896,149,564,32,1435
15,2010-2011 (2000 controls)/4,35075,1949,3334,4501,2829,924,2081,108,539,...,5665,1360,3684,412,3085,890,149,564,31,1439
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2009-2010 (2010 controls)/3,37445,2731,4188,4407,2935,951,1583,199,481,...,5772,1553,4056,-,3269,1024,238,565,108,1658
18,2009-2010 (2000 controls)/4,37540,2756,4211,4409,2928,971,1590,198,488,...,5800,1530,4067,-,3275,1031,237,565,105,1646
19,2008-2009,37105,1993,3514,4266,3244,1005,1872,148,385,...,5387,1871,4125,-,3610,955,196,592,135,1774
20,2007-2008,35167,1987,3682,5069,2940,794,2183,140,1295,...,4866,1778,2872,-,2549,872,212,460,61,1373
21,2006-2007,38681,2296,3808,5555,3789,648,1858,214,1551,...,6096,2130,3089,-,2628,743,146,531,177,1130
22,2005-2006,39837,2395,3389,5241,3481,638,1440,170,1599,...,7090,1754,2451,-,3679,1064,175,504,669,683
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2004-2005,39888,2841,3108,4882,4157,758,1366,216,540,...,7091,1609,2648,-,3759,1289,234,633,-,1052
25,2003-2004,38995,2401,2716,4357,3569,922,1444,128,561,...,8235,1840,2865,-,4009,1118,224,394,-,583
26,2002-2003,40093,2679,2814,5055,3546,749,1275,101,576,...,7942,1530,2622,-,4406,1010,160,565,-,987
27,2001-2002,41111,2517,3140,4930,4331,952,1239,230,648,...,7724,1625,2405,-,4279,1126,259,510,-,862
28,2000-2001,39006,2330,2943,5337,4023,805,1215,224,434,...,6871,1540,2135,-,4205,1183,216,520,-,1084
29,1999-2000,43388,2651,3144,5755,4517,726,1465,181,578,...,7710,1860,2318,-,4879,1075,309,483,-,946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2014-2015,100,5.8,11,14.3,10.6,1.6,4.9,1.1,2.3,...,15.3,2.9,7.5,0.7,14.4,0.3,0.2,0.3,-,1.5
38,"2013-2014 (98,000 address file)/2",100,4.9,11.1,13.4,9.7,2.1,6.2,0.7,2,...,15.8,3,9.4,1.3,12.8,0.5,0.09,0.36,0.03,1
39,2012-2013,100,5.1,10.5,14.8,9,2.1,5.4,0.7,2.3,...,14.8,3.2,8.3,1.8,14,0.6,0.1,0.4,0.03,1.3
40,2011-2012,100,6.30344,10.7049,12.2972,9.50998,1.80607,5.47303,0.498794,2.05547,...,15.923,3.36823,8.93444,2.17058,14.3581,0.542644,0.04385,0.276803,0.150734,0.898926
41,2010-2011 (2010 controls)/3,100,5.5,9.5,12.8,8,2.6,5.9,0.3,1.5,...,16.2,3.9,10.5,1.2,8.7,2.6,0.4,1.6,0.1,4.1
42,2010-2011 (2000 controls)/4,100,5.55666,9.50535,12.8325,8.06557,2.63435,5.933,0.307912,1.53671,...,16.1511,3.87741,10.5032,1.17463,8.79544,2.53742,0.424804,1.60798,0.088382,4.10264
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2009-2010 (2010 controls)/3,100,7.3,11.2,11.8,7.8,2.5,4.2,0.5,1.3,...,15.4,4.1,10.8,-,8.7,2.7,0.6,1.5,0.3,4.4
45,2009-2010 (2000 controls)/4,100,7.3415,11.2174,11.7448,7.79968,2.58657,4.23548,0.527437,1.29995,...,15.4502,4.07565,10.8338,-,8.72403,2.7464,0.631327,1.50506,0.279702,4.38466
46,2008-2009,100,5.37124,9.47042,11.4971,8.74276,2.70853,5.04514,0.398868,1.0376,...,14.5183,5.04245,11.1171,-,9.72915,2.57378,0.528231,1.59547,0.363832,4.78103
47,2007-2008,100,5.65018,10.47,14.4141,8.36011,2.2578,6.20752,0.3981,3.68243,...,13.8368,5.05588,8.16675,-,7.24827,2.4796,0.602838,1.30804,0.173458,3.90423
48,2006-2007,100,5.93573,9.84463,14.3611,9.79551,1.67524,4.80339,0.553243,4.00972,...,15.7597,5.50658,7.98583,-,6.79403,1.92084,0.377446,1.37277,0.457589,2.92133
49,2005-2006,100,6.012,8.50717,13.1561,8.73811,1.60153,3.61473,0.426739,4.01386,...,17.7975,4.40294,6.15257,-,9.23513,2.67088,0.43929,1.26516,1.67934,1.71449
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2004-2005,100,7.12244,7.79182,12.2393,10.4217,1.90032,3.42459,0.541516,1.35379,...,17.7773,4.03379,6.63859,-,9.42389,3.23155,0.586643,1.58694,-,2.63738
52,2003-2004,100,6.1572,6.965,11.1732,9.15246,2.36441,3.70304,0.328247,1.43865,...,21.1181,4.71855,7.3471,-,10.2808,2.86703,0.574433,1.01039,-,1.49506
53,2002-2003,100,6.68196,7.01868,12.6082,8.84444,1.86816,3.18011,0.251914,1.43666,...,19.8089,3.81613,6.53979,-,10.9894,2.51914,0.399072,1.40922,-,2.46178
54,2001-2002,100,6.12245,7.63786,11.9919,10.5349,2.31568,3.01379,0.559461,1.57622,...,18.7882,3.95271,5.85002,-,10.4084,2.73893,0.630002,1.24054,-,2.09676
55,2000-2001,100,5.97344,7.54499,13.6825,10.3138,2.06379,3.11491,0.574271,1.11265,...,17.6152,3.94811,5.47352,-,10.7804,3.03287,0.553761,1.33313,-,2.77906
56,1999-2000,100,6.1,7.2,13.3,10.4,1.7,3.4,0.4,1.3,...,17.8,4.3,5.3,-,11.2,2.5,0.7,1.1,-,2.2
57,1998-1999,100,6.5,7.7,11.6,9.5,1.6,3.1,0.6,2,...,20.8,3.9,6,-,11.1,2,0.8,1.1,-,4.1
58,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,"1/ Beginning in 2016, respondents who selected...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2/ The 2014 CPS ASEC included redesigned quest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,3/ Population controls consistent with 2010 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,4/ Population controls consistent with 2000 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Note: To create the collapsed reason for move ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,*The foreclosure/eviction reason for move was ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,**The natural disaster reason for move was add...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,"Source: U.S. Census Bureau, Current Populatio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

reason_for_move_specific_categories

notes:
    seems to cover back to 1998
    needs to be cleaned , pd does not naturally detect formatting 
        top and bottom

In [11]:
distance_of_intercounty_move

,"Table with row headers in column A and column headers in row 5. Numbers start in row 8, percentages start in row 32.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Table A-6. Distance of Intercounty Move: 2003-...,NaN,NaN,NaN,NaN,NaN
1,(Numbers in thousands.),NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Mobility Period,Total Intercounty Movers,Less than 50 miles,50 to 199 miles,200 to 499 miles,500 miles or more
4,NUMBER,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-2018,11334,4313,2446,1678,2897
7,2016-2017,12033,4781,2414,1788,3051
8,2015-2016,12269,5191,2562,1691,2825
9,NaN,NaN,NaN,NaN,NaN,NaN
10,2014-2015,11746,4419,2449,2004,2875
11,"2013-2014 (98,000 address file)/1",11112,4467,2396,1515,2733
12,2012-2013,11731,4720,2458,1661,2892
13,2011-2012,11842,4762,2444,1623,3013
14,2010-2011 (2010 controls)/2,10623,4097,2259,1479,2788
15,2010-2011 (2000 controls)/3,10691,4128,2275,1485,2803
16,NaN,NaN,NaN,NaN,NaN,NaN
17,2009-2010 (2010 controls)/2,10549,4118,2251,1523,2658
18,2009-2010 (2000 controls)/3,10577,4148,2254,1500,2675
19,2008-2009,11034,4407,2402,1568,2657
20,2007-2008,11009,4449,2112,1610,2838
21,2006-2007,12299,5149,2582,1802,2765
22,2005-2006,13690,5595,2910,2092,3092
23,NaN,NaN,NaN,NaN,NaN,NaN
24,2004-2005/4,15287,4657,3752,3007,3870
25,2003-2004/4,15171,4665,3722,3186,3598
26,2002-2003/4,15356,4953,3407,3177,3819
27,NaN,NaN,NaN,NaN,NaN,NaN
28,PERCENT,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN
30,2017-2018,100,38.1,21.6,14.8,25.6
31,2016-2017,100,39.7,20.1,14.9,25.4
32,2015-2016,100,42.3,20.9,13.8,23
33,NaN,NaN,NaN,NaN,NaN,NaN
34,2014-2015,100,37.6,20.8,17.1,24.5
35,"2013-2014 (98,000 address file)/1",100,40.2,21.6,13.6,24.6
36,2012-2013,100,40.2353,20.953,14.1591,24.6526
37,2011-2012,100,40.2128,20.6384,13.7055,25.4433
38,2010-2011 (2010 controls)/2,100,38.6,21.3,13.9,26.2
39,2010-2011 (2000 controls)/3,100,38.6119,21.2796,13.8902,26.2183
40,NaN,NaN,NaN,NaN,NaN,NaN
41,2009-2010 (2010 controls)/2,100,39,21.3,14.4,25.2
42,2009-2010 (2000 controls)/3,100,39.2172,21.3104,14.1817,25.2907
43,2008-2009,100,39.9402,21.7691,14.2106,24.0801
44,2007-2008,100,40.4124,19.1843,14.6244,25.7789
45,2006-2007,100,41.8652,20.9936,14.6516,22.4815
46,2005-2006,100,40.8692,21.2564,15.2812,22.5858
47,NaN,NaN,NaN,NaN,NaN,NaN
48,2004-2005/4,100,30.4638,24.5437,19.6703,25.3156
49,2003-2004/4,100,30.7495,24.5336,21.0006,23.7163
50,2002-2003/4,100,32.2545,22.1868,20.689,24.8698
51,Footnotes:,NaN,NaN,NaN,NaN,NaN
52,1/ The 2014 CPS ASEC included redesigned quest...,NaN,NaN,NaN,NaN,NaN
53,2/ Population controls consistent with 2010 Ce...,NaN,NaN,NaN,NaN,NaN
54,3/ Population controls consistent with 2000 Ce...,NaN,NaN,NaN,NaN,NaN
55,4/ Caution should be used when comparing numbe...,NaN,NaN,NaN,NaN,NaN
56,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN

distance_of_intercounty_move

notes:
    seems to cover back to 2002
    needs to be cleaned , pd does not naturally detect formatting 
        top and bottom

## Aggregate Notes
inconsistent dates
    - i.e. first recording year varies by up to 55 years 

| first recording year | dataset |
|------|------|
| 1947 | annual_geographical_mobility_rates_type_movement |
|------|------|
| 1980 | annual_inmigration_outmigration_net_migration__movers_from_abroad_for_regions |
|------|------|
| 1985 | inmigration_outmigration__net_migration_metropolitan_status |
|------|------|
| 1987 | inmigration_outmigration__net_migration_metropolitan_status |
|------|------|
| 1998 | reason_for_move_specific_categories |
|------|------|
| 2002 | distance_of_intercounty_move |

In [31]:
"""
let's drop the rows clustered with NaNs
"""

# rename dataframe
df = annual_geographical_mobility_rates_type_movement
# drop columns without any non-NaN values
df = df.dropna(thresh= ( 1 ) )
# return the dataframe to see results
df

,Table with row headers in column A and column headers in rows 5 through 7.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"Table A-1. Annual Geographical Mobility Rates,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Numbers in thousands.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mobility period,"Total, 1 year old and over",Same residence (non-movers),Total movers,Different residence in the United States,NaN,NaN,NaN,NaN,Movers from abroad
4,NaN,NaN,NaN,NaN,Total,Same county,Different county,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Total,Same state,Different state,NaN
6,NUMBER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-2018,319319,286967,32352,31186,19852,11334,6496,4838,1165
9,2016-2017,316550,281647,34902,33647,21614,12033,6668,5366,1255
10,2015-2016,314992,279854,35138,33857,21588,12269,7501,4768,1281
12,2014-2015,312295,275971,36324,34651,22905,11746,6653,5093,1673
13,"2013-2014 (98,000 address file)/1",309601,273920,35681,34548,23436,11112,6446,4666,1133
14,2012-2013,307243,271325,35918,34882,23150,11731,6961,4770,1036
15,2011-2012,304924,268436,36488,35334,23493,11842,6782,5059,1154
16,2010-2011 (2010 controls)/2,302640,267602,35038,33953,23330,10623,5868,4756,1084
17,2010-2011 (2000 controls)/3,302005,266930,35075,34016,23325,10691,5912,4779,1058
19,2009-2010 (2010 controls)/2,300419,262975,37445,36459,25910,10549,6227,4323,985
20,2009-2010 (2000 controls)/3,300074,262534,37540,36594,26017,10577,6252,4326,946
21,2008-2009,297182,260077,37105,36017,24984,11034,6374,4660,1087
22,2007-2008,294851,259685,35167,34022,23013,11009,6282,4728,1145
23,2006-2007,292749,254068,38681,37490,25192,12298,7436,4862,1191
24,2005-2006,289781,249945,39837,38541,24851,13690,8010,5679,1296
26,2004-2005/4,287148,247261,39888,38023,22736,15287,7847,7441,1865
27,2003-2004,284367,245372,38995,37723,22551,15172,7842,7330,1272
28,2002-2003,282556,242463,40093,38824,23468,15356,7728,7628,1269
29,2001-2002,278160,237049,41111,39548,23712,15836,8066,7770,1563
30,2000-2001 (2000 controls)/3,275611,236605,39007,37251,21918,15333,7550,7783,1756
31,"2000-2001 (SCHIP, 2000 controls)/5",275611,235726,39885,38133,22774,15360,7778,7582,1752
32,2000-2001 (1990 controls)/6,272671,234029,38641,36993,21783,15210,7531,7679,1648
34,1999-2000,270219,226831,43388,41642,24399,17242,8814,8428,1746
35,1998-1999,267933,225297,42636,41207,25268,15939,8423,7516,1429
...,...,...,...,...,...,...,...,...,...,...
153,1963-1964,100,79.9,20.1,19.6,13,6.6,3.3,3.3,0.5
154,1962-1963,100,80,20,19.4,12.6,6.8,3.1,3.6,0.6
155,1961-1962,100,80.4,19.6,19.1,13,6.1,3,3.1,0.5
156,1960-1961,100,79.4,20.6,20,13.7,6.3,3.1,3.2,0.6
158,1959-1960,100,80.1,19.9,19.4,12.9,6.4,3.3,3.2,0.5
159,1958-1959,100,80.3,19.7,19.2,13.1,6.1,3.2,3,0.5
160,1957-1958,100,79.7,20.3,19.8,13.1,6.7,3.4,3.3,0.5
161,1956-1957,100,80.1,19.9,19.4,13.1,6.2,3.2,3.1,0.5
162,1955-1956,100,78.9,21.1,20.5,13.7,6.8,3.6,3.1,0.6
164,1954-1955,100,79.6,20.4,19.9,13.3,6.6,3.5,3.1,0.6
165,1953-1954,100,80.7,19.3,18.6,12.2,6.4,3.2,3.2,0.6
166,1952-1953,100,79.4,20.6,20.1,13.5,6.6,3,3.6,0.5
167,1951-1952,100,79.7,20.3,19.8,13.2,6.6,3.2,3.4,0.4
168,1950-1951,100,78.8,21.2,21,13.9,7.1,3.6,3.5,0.2
170,1949-1950,100,80.9,19.1,18.7,13.1,5.6,3,2.6,0.3
171,1948-1949,100,80.8,19.2,18.8,13,5.8,2.8,3,0.3
172,1947-1948,100,79.8,20.2,19.9,13.6,6.4,3.3,3.1,0.3
173,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,1/ The 2014 CPS ASEC included redesigned quest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,2/ Population controls consistent with 2010 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,3/ Population controls consistent with 2000 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,4/ Caution should be used when comparing numbe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,5/ SCHIP sample: poulation controls consistent...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,6/ Population controls consistent with 1990 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,7/ Population controls consistent with 1980 Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,8/ The 1-year geographic mobility question was...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,For more information on the transition from Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Adjustments to Household Survey Population Est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Population Estimates in January 2012 webpage\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,"Source: U.S. Census Bureau, Current Populatio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

notes:
    some column names in row 3 , some column names in row 4 , some column names in row 5
        row 3 = 6 column names
            columns = 0 , 1 , 2 , 3 , 4 , 9
        row 4 = 2 column names
            columns = 5 , 6
        row 5 = 2 column names
            columns = 7 , 8
    row 4 column 4 and row 5 column 6 contain 'Total'
        not obvious what this is
        but it is not the column name in either case
        in both cases , the column name is one row higher in the same column
    rows 173 - 185 contain only 1 NaN value

actions:
    drop all rows without 2 or more non-NaN values
    merge rows 3 and